<div class="landing-page">
    <!-- Main Banner Section -->
    <div class="main-banner bg-[#FEFAEF] p-8 rounded-lg shadow-md text-center">
        <p class="text-2xl text-[#2F4231] mb-4">
            Explore our meal suggestions and tools to improve your energy and digestion.
        </p>    
      <h1 class="text-4xl font-extrabold text-[#2F4231] mb-4 text-transform: uppercase">The Easy Steps For Optimal Gut Health</h1>
      <div class="grid grid-cols-3 gap-4">
        <img
        src="assets/breakfast.webp"
        alt="Breakfast bowl"
        class="rounded-lg shadow-lg"
        />
        <img
            src="assets/veggies.webp"
            alt="Vegetables"
            class="rounded-lg shadow-lg"
        />
        <img
            src="assets/salmon.webp"
            alt="Steamed salmon"
            class="rounded-lg shadow-lg"
        />
      </div>
    </div>
  
  <!-- Button Section -->
  <div class="button-section place-content-center text-center my-12 px-8 flex flex-col gap-y-4 sm:flex-row sm:gap-x-4">
    <button
      class="btn-standard w-full sm:w-auto"
    >
      Easy to Use
    </button>
    <button
      class="btn-standard w-full sm:w-auto"    >
      Quickly Search Meal
    </button>
    <button
      class="btn-standard w-full sm:w-auto"
    >
      Share the Love
    </button>
  </div>
  
  

<!-- Buzzwords Section -->
<div class="buzzwords-section bg-[#2F4231] text-white text-center p-4 py-8 rounded-lg">
    <h2 class="text-2xl font-bold mb-4">The Fiber-Rich, Protein-Fortified Prebiotic Oatmeal</h2>
    <p class="text-lg">
      For Regularity, Energy, and Digestion
    </p>
    
    <!-- Buzzwords -->
    <div class="grid grid-cols-4 gap-4 mt-4">
      <span class="text-[#F4C324]">🍃 Low-FODMAP</span>
      <span class="text-[#F4C324]">🌸 No Refined Sugar</span>
      <span class="text-[#F4C324]">🌾 High in Fiber</span>
      <span class="text-[#F4C324]">🌱 Prebiotic</span>
    </div>
    
    <!-- Oatmeal Image -->
    <div class="mt-4">
      <img
        src="assets/oatmeal.webp" 
        alt="Oatmeal"
        class="rounded-lg shadow-lg mx-auto"
      />
    </div>
  </div>
  
    
  </div>
  